Connected Services/EarsivServisi/EArchiveInvoiceWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://earchiveinvoiceservice.entegrator.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="EArchiveInvoiceWS" targetNamespace="http://earchiveinvoiceservice.entegrator.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://earchiveinvoiceservice.entegrator.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="GetDraftDocumentPreview" type="tns:GetDraftDocumentPreview" />
      <xs:element name="GetDraftDocumentPreviewResponse" type="tns:GetDraftDocumentPreviewResponse" />
      <xs:element name="GetEAInvoiceStatusWithLogs" type="tns:GetEAInvoiceStatusWithLogs" />
      <xs:element name="GetEAInvoiceStatusWithLogsResponse" type="tns:GetEAInvoiceStatusWithLogsResponse" />
      <xs:element name="GetLastInvoiceIdAndDate" type="tns:GetLastInvoiceIdAndDate" />
      <xs:element name="GetLastInvoiceIdAndDateResponse" type="tns:GetLastInvoiceIdAndDateResponse" />
      <xs:element name="GetXsltList" type="tns:GetXsltList" />
      <xs:element name="GetXsltListResponse" type="tns:GetXsltListResponse" />
      <xs:element name="QueryArchivedInvoice" type="tns:QueryArchivedInvoice" />
      <xs:element name="QueryArchivedInvoiceResponse" type="tns:QueryArchivedInvoiceResponse" />
      <xs:element name="QueryArchivedInvoicesWithDocumentDate" type="tns:QueryArchivedInvoicesWithDocumentDate" />
      <xs:element name="QueryArchivedInvoicesWithDocumentDateResponse" type="tns:QueryArchivedInvoicesWithDocumentDateResponse" />
      <xs:element name="QueryInvoice" type="tns:QueryInvoice" />
      <xs:element name="QueryInvoiceResponse" type="tns:QueryInvoiceResponse" />
      <xs:element name="QueryInvoiceWithLocalId" type="tns:QueryInvoiceWithLocalId" />
      <xs:element name="QueryInvoiceWithLocalIdResponse" type="tns:QueryInvoiceWithLocalIdResponse" />
      <xs:element name="QueryInvoiceWithReferenceCode" type="tns:QueryInvoiceWithReferenceCode" />
      <xs:element name="QueryInvoiceWithReferenceCodeResponse" type="tns:QueryInvoiceWithReferenceCodeResponse" />
      <xs:element name="QueryInvoicesWithDocumentDate" type="tns:QueryInvoicesWithDocumentDate" />
      <xs:element name="QueryInvoicesWithDocumentDateAndSearchParams" type="tns:QueryInvoicesWithDocumentDateAndSearchParams" />
      <xs:element name="QueryInvoicesWithDocumentDateAndSearchParamsResponse" type="tns:QueryInvoicesWithDocumentDateAndSearchParamsResponse" />
      <xs:element name="QueryInvoicesWithDocumentDateResponse" type="tns:QueryInvoicesWithDocumentDateResponse" />
      <xs:element name="QueryInvoicesWithGUIDList" type="tns:QueryInvoicesWithGUIDList" />
      <xs:element name="QueryInvoicesWithGUIDListResponse" type="tns:QueryInvoicesWithGUIDListResponse" />
      <xs:element name="QueryInvoicesWithReceivedDate" type="tns:QueryInvoicesWithReceivedDate" />
      <xs:element name="QueryInvoicesWithReceivedDateResponse" type="tns:QueryInvoicesWithReceivedDateResponse" />
      <xs:element name="QueryInvoicesWithReceivedDateWithSearchParams" type="tns:QueryInvoicesWithReceivedDateWithSearchParams" />
      <xs:element name="QueryInvoicesWithReceivedDateWithSearchParamsResponse" type="tns:QueryInvoicesWithReceivedDateWithSearchParamsResponse" />
      <xs:element name="ResendNotification" type="tns:ResendNotification" />
      <xs:element name="ResendNotificationResponse" type="tns:ResendNotificationResponse" />
      <xs:element name="SetDefaultXslt" type="tns:SetDefaultXslt" />
      <xs:element name="SetDefaultXsltResponse" type="tns:SetDefaultXsltResponse" />
      <xs:element name="UploadXslt" type="tns:UploadXslt" />
      <xs:element name="UploadXsltResponse" type="tns:UploadXsltResponse" />
      <xs:element name="addPrefixList" type="tns:addPrefixList" />
      <xs:element name="addPrefixListResponse" type="tns:addPrefixListResponse" />
      <xs:element name="cancelInvoice" type="tns:cancelInvoice" />
      <xs:element name="cancelInvoiceResponse" type="tns:cancelInvoiceResponse" />
      <xs:element name="controlInvoiceXML" type="tns:controlInvoiceXML" />
      <xs:element name="controlInvoiceXMLResponse" type="tns:controlInvoiceXMLResponse" />
      <xs:element name="getCreditActionsforCustomer" type="tns:getCreditActionsforCustomer" />
      <xs:element name="getCreditActionsforCustomerResponse" type="tns:getCreditActionsforCustomerResponse" />
      <xs:element name="getCustomerCreditCount" type="tns:getCustomerCreditCount" />
      <xs:element name="getCustomerCreditCountResponse" type="tns:getCustomerCreditCountResponse" />
      <xs:element name="getCustomerCreditSpace" type="tns:getCustomerCreditSpace" />
      <xs:element name="getCustomerCreditSpaceResponse" type="tns:getCustomerCreditSpaceResponse" />
      <xs:element name="getNewUUID" type="tns:getNewUUID" />
      <xs:element name="getNewUUIDResponse" type="tns:getNewUUIDResponse" />
      <xs:element name="getPrefixList" type="tns:getPrefixList" />
      <xs:element name="getPrefixListResponse" type="tns:getPrefixListResponse" />
      <xs:element name="isEFaturaUser" type="tns:isEFaturaUser" />
      <xs:element name="isEFaturaUserResponse" type="tns:isEFaturaUserResponse" />
      <xs:element name="objectInvoice" type="tns:objectInvoice" />
      <xs:element name="objectInvoiceResponse" type="tns:objectInvoiceResponse" />
      <xs:element name="sendAndApproveInvoice" type="tns:sendAndApproveInvoice" />
      <xs:element name="sendAndApproveInvoiceResponse" type="tns:sendAndApproveInvoiceResponse" />
      <xs:element name="sendInvoice" type="tns:sendInvoice" />
      <xs:element name="sendInvoiceResponse" type="tns:sendInvoiceResponse" />
      <xs:element name="sendInvoiceWithoutId" type="tns:sendInvoiceWithoutId" />
      <xs:element name="sendInvoiceWithoutIdAndUuid" type="tns:sendInvoiceWithoutIdAndUuid" />
      <xs:element name="sendInvoiceWithoutIdAndUuidResponse" type="tns:sendInvoiceWithoutIdAndUuidResponse" />
      <xs:element name="sendInvoiceWithoutIdResponse" type="tns:sendInvoiceWithoutIdResponse" />
      <xs:element name="sendSignedInvoice" type="tns:sendSignedInvoice" />
      <xs:element name="sendSignedInvoiceResponse" type="tns:sendSignedInvoiceResponse" />
      <xs:element name="sendZReport" type="tns:sendZReport" />
      <xs:element name="sendZReportResponse" type="tns:sendZReportResponse" />
      <xs:element name="setDocumentFlag" type="tns:setDocumentFlag" />
      <xs:element name="setDocumentFlagResponse" type="tns:setDocumentFlagResponse" />
      <xs:element name="setEmailSent" type="tns:setEmailSent" />
      <xs:element name="setEmailSentResponse" type="tns:setEmailSentResponse" />
      <xs:element name="setPrefixStatusList" type="tns:setPrefixStatusList" />
      <xs:element name="setPrefixStatusListResponse" type="tns:setPrefixStatusListResponse" />
      <xs:element name="updateInvoice" type="tns:updateInvoice" />
      <xs:element name="updateInvoiceResponse" type="tns:updateInvoiceResponse" />
      <xs:complexType name="getPrefixList">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getPrefixListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:DocumentQueryResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DocumentQueryResponse">
        <xs:sequence>
          <xs:element name="queryState" type="xs:int" />
          <xs:element minOccurs="0" name="stateExplanation" type="xs:string" />
          <xs:element name="documentsCount" type="xs:int" />
          <xs:element name="maxRecordIdinList" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="documents" type="tns:ResponseDocument" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResponseDocument">
        <xs:sequence>
          <xs:element minOccurs="0" name="document_uuid" type="xs:string" />
          <xs:element minOccurs="0" name="document_id" type="xs:string" />
          <xs:element minOccurs="0" name="envelope_uuid" type="xs:string" />
          <xs:element minOccurs="0" name="document_profile" type="xs:string" />
          <xs:element minOccurs="0" name="system_creation_time" type="xs:string" />
          <xs:element minOccurs="0" name="document_issue_date" type="xs:string" />
          <xs:element minOccurs="0" name="source_id" type="xs:string" />
          <xs:element minOccurs="0" name="destination_id" type="xs:string" />
          <xs:element minOccurs="0" name="source_urn" type="xs:string" />
          <xs:element minOccurs="0" name="source_title" type="xs:string" />
          <xs:element minOccurs="0" name="destination_urn" type="xs:string" />
          <xs:element minOccurs="0" name="currency_code" type="xs:string" />
          <xs:element minOccurs="0" name="invoice_total" type="xs:string" />
          <xs:element minOccurs="0" name="state_code" type="xs:string" />
          <xs:element minOccurs="0" name="state_explanation" type="xs:string" />
          <xs:element minOccurs="0" name="cause" type="xs:string" />
          <xs:element minOccurs="0" name="content_type" type="xs:string" />
          <xs:element minOccurs="0" name="document_content" type="xs:base64Binary" />
          <xs:element name="emailSent" type="xs:int" />
          <xs:element minOccurs="0" name="emailSentDate" type="xs:string" />
          <xs:element minOccurs="0" name="cancelled" type="xs:string" />
          <xs:element minOccurs="0" name="cancel_date" type="xs:string" />
          <xs:element minOccurs="0" name="reference_document_uuid" type="xs:string" />
          <xs:element minOccurs="0" name="response_document_uuid" type="xs:string" />
          <xs:element minOccurs="0" name="response_code" type="xs:string" />
          <xs:element minOccurs="0" name="response_validation_state" type="xs:string" />
          <xs:element minOccurs="0" name="response_received_date" type="xs:string" />
          <xs:element minOccurs="0" name="gtb_reference_no" type="xs:string" />
          <xs:element minOccurs="0" name="gtb_gcb_tescil_no" type="xs:string" />
          <xs:element minOccurs="0" name="gtb_fiili_ihracat_tarihi" type="xs:string" />
          <xs:element minOccurs="0" name="reserved1" type="xs:string" />
          <xs:element minOccurs="0" name="reserved2" type="xs:string" />
          <xs:element minOccurs="0" name="reserved3" type="xs:string" />
          <xs:element minOccurs="0" name="document_type_code" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="notes" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="despatchInfo" type="tns:DocumentInfo" />
          <xs:element minOccurs="0" name="orderInfo" type="tns:DocumentInfo" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="taxInfo" type="tns:TaxInfo" />
          <xs:element minOccurs="0" name="taxInclusiveAmount" type="xs:string" />
          <xs:element minOccurs="0" name="taxExlusiveAmount" type="xs:string" />
          <xs:element minOccurs="0" name="allowanceTotalAmount" type="xs:string" />
          <xs:element minOccurs="0" name="taxAmount0015" type="xs:string" />
          <xs:element minOccurs="0" name="lineExtensionAmount" type="xs:string" />
          <xs:element minOccurs="0" name="suplierPersonName" type="xs:string" />
          <xs:element minOccurs="0" name="supplierPersonMiddleName" type="xs:string" />
          <xs:element minOccurs="0" name="supplierPersonFamilyName" type="xs:string" />
          <xs:element minOccurs="0" name="customerPersonName" type="xs:string" />
          <xs:element minOccurs="0" name="customerPersonMiddleName" type="xs:string" />
          <xs:element minOccurs="0" name="customerPersonFamilyName" type="xs:string" />
          <xs:element minOccurs="0" name="destination_title" type="xs:string" />
          <xs:element minOccurs="0" name="is_read" type="xs:string" />
          <xs:element minOccurs="0" name="is_archieved" type="xs:string" />
          <xs:element minOccurs="0" name="is_accounted" type="xs:string" />
          <xs:element minOccurs="0" name="is_transferred" type="xs:string" />
          <xs:element minOccurs="0" name="is_printed" type="xs:string" />
          <xs:element minOccurs="0" name="local_id" type="xs:string" />
          <xs:element minOccurs="0" name="sendingType" type="xs:string" />
          <xs:element minOccurs="0" name="buyerCustomerPartyName" type="xs:string" />
          <xs:element minOccurs="0" name="buyerCustomerPersonName" type="xs:string" />
          <xs:element minOccurs="0" name="buyerCustomerPersonFamilyName" type="xs:string" />
          <xs:element minOccurs="0" name="report_no" type="xs:string" />
          <xs:element minOccurs="0" name="cancel_report_no" type="xs:string" />
          <xs:element minOccurs="0" name="objected" type="xs:string" />
          <xs:element minOccurs="0" name="objectionReason" type="xs:string" />
          <xs:element minOccurs="0" name="objectionDate" type="xs:string" />
          <xs:element minOccurs="0" name="objectionReportNo" type="xs:string" />
          <xs:element minOccurs="0" name="objectionType" type="xs:string" />
          <xs:element minOccurs="0" name="objectionDocumentNo" type="xs:string" />
          <xs:element minOccurs="0" name="destinationEmail" type="xs:string" />
          <xs:element minOccurs="0" name="destinationMobile" type="xs:string" />
          <xs:element minOccurs="0" name="smsSentDate" type="xs:string" />
          <xs:element minOccurs="0" name="cancelPortalStatus" type="xs:int" />
          <xs:element minOccurs="0" name="cancelReason" type="xs:string" />
          <xs:element minOccurs="0" name="chargeTotalAmount" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DocumentInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="documentDate" type="xs:string" />
          <xs:element minOccurs="0" name="documentNo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TaxInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="taxtTypeCode" type="xs:string" />
          <xs:element minOccurs="0" name="taxtTypeName" type="xs:string" />
          <xs:element minOccurs="0" name="taxAmount" type="xs:string" />
          <xs:element minOccurs="0" name="taxPercentage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendInvoiceWithoutId">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="invoiceXMLList" type="tns:InputDocument" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InputDocument">
        <xs:sequence>
          <xs:element name="documentUUID" type="xs:string" />
          <xs:element name="xmlContent" type="xs:string" />
          <xs:element name="sourceUrn" type="xs:string" />
          <xs:element name="destinationUrn" type="xs:string" />
          <xs:element minOccurs="0" name="documentNoPrefix" type="xs:string" />
          <xs:element minOccurs="0" name="localId" type="xs:string" />
          <xs:element minOccurs="0" name="documentId" type="xs:string" />
          <xs:element minOccurs="0" name="submitForApproval" type="xs:boolean" />
          <xs:element name="documentDate" type="xs:string" />
          <xs:element minOccurs="0" name="note" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendInvoiceWithoutIdResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:EntResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EntResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="documentUUID" type="xs:string" />
          <xs:element minOccurs="0" name="documentID" type="xs:string" />
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="explanation" type="xs:string" />
          <xs:element minOccurs="0" name="cause" type="xs:string" />
          <xs:element minOccurs="0" name="content" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendInvoiceWithoutIdAndUuid">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="invoiceXMLList" type="tns:InputDocument" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendInvoiceWithoutIdAndUuidResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:EntResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addPrefixList">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="prefixList" type="tns:PrefixCode" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PrefixCode">
        <xs:sequence>
          <xs:element name="prefixType" type="tns:PrefixType" />
          <xs:element name="prefixKey" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addPrefixListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:PrefixCodeResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PrefixCodeResponse">
        <xs:sequence>
          <xs:element name="prefixType" type="tns:PrefixType" />
          <xs:element name="prefixKey" type="xs:string" />
          <xs:element name="active" type="xs:boolean" />
          <xs:element name="isOk" type="xs:boolean" />
          <xs:element name="explanation" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetXsltList">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="GetXsltListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:XsltListResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="XsltListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="xsltList" type="tns:XsltResponse" />
          <xs:element minOccurs="0" name="documentsCount" type="xs:string" />
          <xs:element minOccurs="0" name="isSuccess" type="xs:boolean" />
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="explanation" type="xs:string" />
          <xs:element minOccurs="0" name="cause" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="XsltResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="content" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="isDefault" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryArchivedInvoice">
        <xs:sequence>
          <xs:element minOccurs="0" name="paramType" type="xs:string" />
          <xs:element minOccurs="0" name="parameter" type="xs:string" />
          <xs:element minOccurs="0" name="withXML" type="xs:string" />
          <xs:element name="fiscalYear" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryArchivedInvoiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:DocumentQueryResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryInvoicesWithReceivedDateWithSearchParams">
        <xs:sequence>
          <xs:element minOccurs="0" name="startDate" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="withXML" type="xs:string" />
          <xs:element minOccurs="0" name="minRecordId" type="xs:string" />
          <xs:element name="searchParams">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryInvoicesWithReceivedDateWithSearchParamsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:DocumentQueryResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryInvoicesWithGUIDList">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="guidList" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryInvoicesWithGUIDListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:DocumentQueryResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendZReport">
        <xs:sequence>
          <xs:element minOccurs="0" name="zReportXML" type="tns:InputDocument" />
          <xs:element minOccurs="0" name="reportType" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendZReportResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:EntResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setPrefixStatusList">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="prefixCodeStatusList" type="tns:PrefixCodeStatus" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PrefixCodeStatus">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:PrefixCode">
            <xs:sequence>
              <xs:element name="active" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="setPrefixStatusListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:PrefixCodeResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UploadXslt">
        <xs:sequence>
          <xs:element minOccurs="0" name="uploadXsltPayload" type="tns:UploadXsltPayload" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UploadXsltPayload">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="content" type="xs:base64Binary" />
          <xs:element name="isDefault" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UploadXsltResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:EntResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetLastInvoiceIdAndDate">
        <xs:sequence>
          <xs:element minOccurs="0" name="source_id" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="documentIdPrefix" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetLastInvoiceIdAndDateResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:DocumentQueryResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateInvoice">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="invoiceXMLList" type="tns:InputDocument" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateInvoiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:EntResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryInvoice">
        <xs:sequence>
          <xs:element minOccurs="0" name="paramType" type="xs:string" />
          <xs:element minOccurs="0" name="parameter" type="xs:string" />
          <xs:element minOccurs="0" name="withXML" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryInvoiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:DocumentQueryResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryArchivedInvoicesWithDocumentDate">
        <xs:sequence>
          <xs:element minOccurs="0" name="startDate" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="withXML" type="xs:string" />
          <xs:element minOccurs="0" name="minRecordId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryArchivedInvoicesWithDocumentDateResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:DocumentQueryResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setDocumentFlag">
        <xs:sequence>
          <xs:element minOccurs="0" name="flagSetter" type="tns:flagSetter" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="flagSetter">
        <xs:sequence>
          <xs:element minOccurs="0" name="document_direction" type="xs:string" />
          <xs:element minOccurs="0" name="flag_name" type="xs:string" />
          <xs:element name="flag_value" type="xs:int" />
          <xs:element minOccurs="0" name="document_uuid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setDocumentFlagResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:EntResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryInvoiceWithReferenceCode">
        <xs:sequence>
          <xs:element minOccurs="0" name="referenceCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryInvoiceWithReferenceCodeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:DocumentQueryResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="controlInvoiceXML">
        <xs:sequence>
          <xs:element minOccurs="0" name="invoiceXML" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="controlInvoiceXMLResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:EntResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendSignedInvoice">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="invoiceXMLList" type="tns:InputDocument" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendSignedInvoiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:EntResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetEAInvoiceStatusWithLogs">
        <xs:sequence>
          <xs:element minOccurs="0" name="documentUuid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetEAInvoiceStatusWithLogsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:logResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="logResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="SetDefaultXslt">
        <xs:sequence>
          <xs:element minOccurs="0" name="xsltName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetDefaultXsltResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:EntResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryInvoicesWithDocumentDateAndSearchParams">
        <xs:sequence>
          <xs:element minOccurs="0" name="startDate" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="withXML" type="xs:string" />
          <xs:element minOccurs="0" name="minRecordId" type="xs:string" />
          <xs:element name="searchParams">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryInvoicesWithDocumentDateAndSearchParamsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:DocumentQueryResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetDraftDocumentPreview">
        <xs:sequence>
          <xs:element minOccurs="0" name="xmlContent" type="xs:string" />
          <xs:element minOccurs="0" name="previewType" type="xs:string" />
          <xs:element name="addDraftWatermark" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetDraftDocumentPreviewResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:EntResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryInvoiceWithLocalId">
        <xs:sequence>
          <xs:element minOccurs="0" name="localId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryInvoiceWithLocalIdResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:DocumentQueryResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setEmailSent">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="invoice_uuid_list" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setEmailSentResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:EntResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResendNotification">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="resendNotificationPayloadList" type="tns:ResendNotificationPayload" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResendNotificationPayload">
        <xs:sequence>
          <xs:element name="documentUuid" type="xs:string" />
          <xs:element name="notificationType" type="tns:NotificationType" />
          <xs:element minOccurs="0" name="emailOrSms" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResendNotificationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:EntResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendAndApproveInvoice">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="invoiceXMLList" type="tns:InputDocument" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendAndApproveInvoiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:EntResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCustomerCreditCount">
        <xs:sequence>
          <xs:element minOccurs="0" name="vkn_tckn" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCustomerCreditCountResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:CreditInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CreditInfo">
        <xs:sequence>
          <xs:element name="code" type="xs:string" />
          <xs:element name="explanation" type="xs:string" />
          <xs:element name="totalCredit" type="xs:decimal" />
          <xs:element name="remainCredit" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getNewUUID">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getNewUUIDResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryInvoicesWithReceivedDate">
        <xs:sequence>
          <xs:element minOccurs="0" name="startDate" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="withXML" type="xs:string" />
          <xs:element minOccurs="0" name="minRecordId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryInvoicesWithReceivedDateResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:DocumentQueryResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="isEFaturaUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="vkn_tckn" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="isEFaturaUserResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:UserQueryResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UserQueryResponse">
        <xs:sequence>
          <xs:element name="queryState" type="xs:int" />
          <xs:element minOccurs="0" name="stateExplanation" type="xs:string" />
          <xs:element name="userCount" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="users" type="tns:ResponseUser" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResponseUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="vkn_tckn" type="xs:string" />
          <xs:element minOccurs="0" name="unvan_ad" type="xs:string" />
          <xs:element minOccurs="0" name="etiket" type="xs:string" />
          <xs:element minOccurs="0" name="tip" type="xs:string" />
          <xs:element minOccurs="0" name="ilkKayitZamani" type="xs:string" />
          <xs:element minOccurs="0" name="etiketKayitZamani" type="xs:string" />
          <xs:element minOccurs="0" name="etiketKayitTuru" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCustomerCreditSpace">
        <xs:sequence>
          <xs:element minOccurs="0" name="vkn_tckn" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCustomerCreditSpaceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:CreditInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendInvoice">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="invoiceXMLList" type="tns:InputDocument" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendInvoiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:EntResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancelInvoice">
        <xs:sequence>
          <xs:element minOccurs="0" name="invoice_uuid" type="xs:string" />
          <xs:element minOccurs="0" name="cancelReason" type="xs:string" />
          <xs:element minOccurs="0" name="cancelDate" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancelInvoiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:EntResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="objectInvoice">
        <xs:sequence>
          <xs:element minOccurs="0" name="invoice_uuid" type="xs:string" />
          <xs:element minOccurs="0" name="objectionReason" type="xs:string" />
          <xs:element minOccurs="0" name="objectionDate" type="xs:string" />
          <xs:element minOccurs="0" name="objectionType" type="xs:string" />
          <xs:element minOccurs="0" name="objectionDocumentNo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="objectInvoiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:EntResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryInvoicesWithDocumentDate">
        <xs:sequence>
          <xs:element minOccurs="0" name="startDate" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" type="xs:string" />
          <xs:element minOccurs="0" name="withXML" type="xs:string" />
          <xs:element minOccurs="0" name="minRecordId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryInvoicesWithDocumentDateResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:DocumentQueryResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCreditActionsforCustomer">
        <xs:sequence>
          <xs:element minOccurs="0" name="vkn_tckn" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCreditActionsforCustomerResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:CreditAction" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CreditAction">
        <xs:sequence>
          <xs:element name="purchase_date" type="xs:string" />
          <xs:element name="expire_date" type="xs:string" />
          <xs:element name="purchase_count" type="xs:decimal" />
          <xs:element name="consideredCount" type="xs:decimal" />
          <xs:element name="credit_unit" type="xs:int" />
          <xs:element name="credit_pool_id" type="xs:string" />
          <xs:element name="buyer_VKN_TCKN" type="xs:string" />
          <xs:element name="action_type" type="tns:CreditActionTypes" />
          <xs:element name="code" type="xs:string" />
          <xs:element name="explanation" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="PrefixType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="PrefixCode" />
          <xs:enumeration value="EArsivPrefixCode" />
          <xs:enumeration value="DespatchPrefixCode" />
          <xs:enumeration value="SVoucherPrefixCode" />
          <xs:enumeration value="MVoucherPrefixCode" />
          <xs:enumeration value="ReceiptAdvicePrefixCode" />
          <xs:enumeration value="ExchangePrefixCode" />
          <xs:enumeration value="ExpenseNotePrefixCode" />
          <xs:enumeration value="ReceiptPrefixCode" />
          <xs:enumeration value="SigortaPrefixCode" />
          <xs:enumeration value="SigortaPolicePrefixCode" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="NotificationType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SMS" />
          <xs:enumeration value="EMAIL" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="CreditActionTypes">
        <xs:restriction base="xs:string">
          <xs:enumeration value="BASLAMA" />
          <xs:enumeration value="SATINALMA" />
          <xs:enumeration value="DEVIR_GIRIS" />
          <xs:enumeration value="HEDIYE" />
          <xs:enumeration value="DEVIR_CIKIS" />
          <xs:enumeration value="TRANSFER" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </types>
  <message name="getCustomerCreditSpace">
    <part name="parameters" element="tns:getCustomerCreditSpace" />
  </message>
  <message name="sendInvoiceWithoutIdAndUuidResponse">
    <part name="parameters" element="tns:sendInvoiceWithoutIdAndUuidResponse" />
  </message>
  <message name="getNewUUIDResponse">
    <part name="parameters" element="tns:getNewUUIDResponse" />
  </message>
  <message name="isEFaturaUser">
    <part name="parameters" element="tns:isEFaturaUser" />
  </message>
  <message name="getCreditActionsforCustomer">
    <part name="parameters" element="tns:getCreditActionsforCustomer" />
  </message>
  <message name="QueryInvoicesWithGUIDListResponse">
    <part name="parameters" element="tns:QueryInvoicesWithGUIDListResponse" />
  </message>
  <message name="GetEAInvoiceStatusWithLogsResponse">
    <part name="parameters" element="tns:GetEAInvoiceStatusWithLogsResponse" />
  </message>
  <message name="sendInvoice">
    <part name="parameters" element="tns:sendInvoice" />
  </message>
  <message name="QueryInvoiceWithLocalIdResponse">
    <part name="parameters" element="tns:QueryInvoiceWithLocalIdResponse" />
  </message>
  <message name="QueryInvoicesWithDocumentDateAndSearchParams">
    <part name="parameters" element="tns:QueryInvoicesWithDocumentDateAndSearchParams" />
  </message>
  <message name="GetEAInvoiceStatusWithLogs">
    <part name="parameters" element="tns:GetEAInvoiceStatusWithLogs" />
  </message>
  <message name="controlInvoiceXML">
    <part name="parameters" element="tns:controlInvoiceXML" />
  </message>
  <message name="QueryInvoiceWithLocalId">
    <part name="parameters" element="tns:QueryInvoiceWithLocalId" />
  </message>
  <message name="setEmailSent">
    <part name="parameters" element="tns:setEmailSent" />
  </message>
  <message name="GetXsltListResponse">
    <part name="parameters" element="tns:GetXsltListResponse" />
  </message>
  <message name="setEmailSentResponse">
    <part name="parameters" element="tns:setEmailSentResponse" />
  </message>
  <message name="sendSignedInvoiceResponse">
    <part name="parameters" element="tns:sendSignedInvoiceResponse" />
  </message>
  <message name="GetDraftDocumentPreview">
    <part name="parameters" element="tns:GetDraftDocumentPreview" />
  </message>
  <message name="getCustomerCreditCountResponse">
    <part name="parameters" element="tns:getCustomerCreditCountResponse" />
  </message>
  <message name="sendAndApproveInvoiceResponse">
    <part name="parameters" element="tns:sendAndApproveInvoiceResponse" />
  </message>
  <message name="QueryArchivedInvoicesWithDocumentDate">
    <part name="parameters" element="tns:QueryArchivedInvoicesWithDocumentDate" />
  </message>
  <message name="GetLastInvoiceIdAndDate">
    <part name="parameters" element="tns:GetLastInvoiceIdAndDate" />
  </message>
  <message name="updateInvoice">
    <part name="parameters" element="tns:updateInvoice" />
  </message>
  <message name="QueryInvoiceResponse">
    <part name="parameters" element="tns:QueryInvoiceResponse" />
  </message>
  <message name="cancelInvoiceResponse">
    <part name="parameters" element="tns:cancelInvoiceResponse" />
  </message>
  <message name="SetDefaultXsltResponse">
    <part name="parameters" element="tns:SetDefaultXsltResponse" />
  </message>
  <message name="ResendNotificationResponse">
    <part name="parameters" element="tns:ResendNotificationResponse" />
  </message>
  <message name="setPrefixStatusListResponse">
    <part name="parameters" element="tns:setPrefixStatusListResponse" />
  </message>
  <message name="getCustomerCreditSpaceResponse">
    <part name="parameters" element="tns:getCustomerCreditSpaceResponse" />
  </message>
  <message name="updateInvoiceResponse">
    <part name="parameters" element="tns:updateInvoiceResponse" />
  </message>
  <message name="addPrefixList">
    <part name="parameters" element="tns:addPrefixList" />
  </message>
  <message name="sendInvoiceWithoutId">
    <part name="parameters" element="tns:sendInvoiceWithoutId" />
  </message>
  <message name="getPrefixList">
    <part name="parameters" element="tns:getPrefixList" />
  </message>
  <message name="sendZReportResponse">
    <part name="parameters" element="tns:sendZReportResponse" />
  </message>
  <message name="isEFaturaUserResponse">
    <part name="parameters" element="tns:isEFaturaUserResponse" />
  </message>
  <message name="sendZReport">
    <part name="parameters" element="tns:sendZReport" />
  </message>
  <message name="setDocumentFlagResponse">
    <part name="parameters" element="tns:setDocumentFlagResponse" />
  </message>
  <message name="QueryInvoicesWithGUIDList">
    <part name="parameters" element="tns:QueryInvoicesWithGUIDList" />
  </message>
  <message name="QueryArchivedInvoice">
    <part name="parameters" element="tns:QueryArchivedInvoice" />
  </message>
  <message name="QueryInvoicesWithReceivedDate">
    <part name="parameters" element="tns:QueryInvoicesWithReceivedDate" />
  </message>
  <message name="sendAndApproveInvoice">
    <part name="parameters" element="tns:sendAndApproveInvoice" />
  </message>
  <message name="getCustomerCreditCount">
    <part name="parameters" element="tns:getCustomerCreditCount" />
  </message>
  <message name="getPrefixListResponse">
    <part name="parameters" element="tns:getPrefixListResponse" />
  </message>
  <message name="getNewUUID">
    <part name="parameters" element="tns:getNewUUID" />
  </message>
  <message name="QueryArchivedInvoiceResponse">
    <part name="parameters" element="tns:QueryArchivedInvoiceResponse" />
  </message>
  <message name="QueryInvoicesWithDocumentDate">
    <part name="parameters" element="tns:QueryInvoicesWithDocumentDate" />
  </message>
  <message name="QueryArchivedInvoicesWithDocumentDateResponse">
    <part name="parameters" element="tns:QueryArchivedInvoicesWithDocumentDateResponse" />
  </message>
  <message name="objectInvoice">
    <part name="parameters" element="tns:objectInvoice" />
  </message>
  <message name="cancelInvoice">
    <part name="parameters" element="tns:cancelInvoice" />
  </message>
  <message name="UploadXsltResponse">
    <part name="parameters" element="tns:UploadXsltResponse" />
  </message>
  <message name="sendInvoiceResponse">
    <part name="parameters" element="tns:sendInvoiceResponse" />
  </message>
  <message name="SetDefaultXslt">
    <part name="parameters" element="tns:SetDefaultXslt" />
  </message>
  <message name="sendSignedInvoice">
    <part name="parameters" element="tns:sendSignedInvoice" />
  </message>
  <message name="controlInvoiceXMLResponse">
    <part name="parameters" element="tns:controlInvoiceXMLResponse" />
  </message>
  <message name="sendInvoiceWithoutIdResponse">
    <part name="parameters" element="tns:sendInvoiceWithoutIdResponse" />
  </message>
  <message name="QueryInvoicesWithDocumentDateAndSearchParamsResponse">
    <part name="parameters" element="tns:QueryInvoicesWithDocumentDateAndSearchParamsResponse" />
  </message>
  <message name="ResendNotification">
    <part name="parameters" element="tns:ResendNotification" />
  </message>
  <message name="objectInvoiceResponse">
    <part name="parameters" element="tns:objectInvoiceResponse" />
  </message>
  <message name="QueryInvoicesWithDocumentDateResponse">
    <part name="parameters" element="tns:QueryInvoicesWithDocumentDateResponse" />
  </message>
  <message name="GetLastInvoiceIdAndDateResponse">
    <part name="parameters" element="tns:GetLastInvoiceIdAndDateResponse" />
  </message>
  <message name="setDocumentFlag">
    <part name="parameters" element="tns:setDocumentFlag" />
  </message>
  <message name="QueryInvoice">
    <part name="parameters" element="tns:QueryInvoice" />
  </message>
  <message name="QueryInvoiceWithReferenceCode">
    <part name="parameters" element="tns:QueryInvoiceWithReferenceCode" />
  </message>
  <message name="QueryInvoicesWithReceivedDateWithSearchParamsResponse">
    <part name="parameters" element="tns:QueryInvoicesWithReceivedDateWithSearchParamsResponse" />
  </message>
  <message name="GetXsltList">
    <part name="parameters" element="tns:GetXsltList" />
  </message>
  <message name="QueryInvoiceWithReferenceCodeResponse">
    <part name="parameters" element="tns:QueryInvoiceWithReferenceCodeResponse" />
  </message>
  <message name="QueryInvoicesWithReceivedDateResponse">
    <part name="parameters" element="tns:QueryInvoicesWithReceivedDateResponse" />
  </message>
  <message name="sendInvoiceWithoutIdAndUuid">
    <part name="parameters" element="tns:sendInvoiceWithoutIdAndUuid" />
  </message>
  <message name="addPrefixListResponse">
    <part name="parameters" element="tns:addPrefixListResponse" />
  </message>
  <message name="setPrefixStatusList">
    <part name="parameters" element="tns:setPrefixStatusList" />
  </message>
  <message name="UploadXslt">
    <part name="parameters" element="tns:UploadXslt" />
  </message>
  <message name="getCreditActionsforCustomerResponse">
    <part name="parameters" element="tns:getCreditActionsforCustomerResponse" />
  </message>
  <message name="QueryInvoicesWithReceivedDateWithSearchParams">
    <part name="parameters" element="tns:QueryInvoicesWithReceivedDateWithSearchParams" />
  </message>
  <message name="GetDraftDocumentPreviewResponse">
    <part name="parameters" element="tns:GetDraftDocumentPreviewResponse" />
  </message>
  <portType name="EArchiveInvoiceWS">
    <operation name="sendInvoice">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/sendInvoiceRequest" message="tns:sendInvoice" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/sendInvoiceResponse" message="tns:sendInvoiceResponse" />
    </operation>
    <operation name="QueryArchivedInvoice">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/QueryArchivedInvoiceRequest" message="tns:QueryArchivedInvoice" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/QueryArchivedInvoiceResponse" message="tns:QueryArchivedInvoiceResponse" />
    </operation>
    <operation name="QueryInvoiceWithLocalId">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/QueryInvoiceWithLocalIdRequest" message="tns:QueryInvoiceWithLocalId" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/QueryInvoiceWithLocalIdResponse" message="tns:QueryInvoiceWithLocalIdResponse" />
    </operation>
    <operation name="QueryInvoiceWithReferenceCode">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/QueryInvoiceWithReferenceCodeRequest" message="tns:QueryInvoiceWithReferenceCode" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/QueryInvoiceWithReferenceCodeResponse" message="tns:QueryInvoiceWithReferenceCodeResponse" />
    </operation>
    <operation name="QueryInvoicesWithReceivedDate">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/QueryInvoicesWithReceivedDateRequest" message="tns:QueryInvoicesWithReceivedDate" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/QueryInvoicesWithReceivedDateResponse" message="tns:QueryInvoicesWithReceivedDateResponse" />
    </operation>
    <operation name="QueryInvoicesWithReceivedDateWithSearchParams">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/QueryInvoicesWithReceivedDateWithSearchParamsRequest" message="tns:QueryInvoicesWithReceivedDateWithSearchParams" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/QueryInvoicesWithReceivedDateWithSearchParamsResponse" message="tns:QueryInvoicesWithReceivedDateWithSearchParamsResponse" />
    </operation>
    <operation name="QueryInvoicesWithDocumentDate">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/QueryInvoicesWithDocumentDateRequest" message="tns:QueryInvoicesWithDocumentDate" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/QueryInvoicesWithDocumentDateResponse" message="tns:QueryInvoicesWithDocumentDateResponse" />
    </operation>
    <operation name="QueryInvoicesWithDocumentDateAndSearchParams">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/QueryInvoicesWithDocumentDateAndSearchParamsRequest" message="tns:QueryInvoicesWithDocumentDateAndSearchParams" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/QueryInvoicesWithDocumentDateAndSearchParamsResponse" message="tns:QueryInvoicesWithDocumentDateAndSearchParamsResponse" />
    </operation>
    <operation name="QueryArchivedInvoicesWithDocumentDate">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/QueryArchivedInvoicesWithDocumentDateRequest" message="tns:QueryArchivedInvoicesWithDocumentDate" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/QueryArchivedInvoicesWithDocumentDateResponse" message="tns:QueryArchivedInvoicesWithDocumentDateResponse" />
    </operation>
    <operation name="QueryInvoicesWithGUIDList">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/QueryInvoicesWithGUIDListRequest" message="tns:QueryInvoicesWithGUIDList" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/QueryInvoicesWithGUIDListResponse" message="tns:QueryInvoicesWithGUIDListResponse" />
    </operation>
    <operation name="GetLastInvoiceIdAndDate">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/GetLastInvoiceIdAndDateRequest" message="tns:GetLastInvoiceIdAndDate" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/GetLastInvoiceIdAndDateResponse" message="tns:GetLastInvoiceIdAndDateResponse" />
    </operation>
    <operation name="sendSignedInvoice">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/sendSignedInvoiceRequest" message="tns:sendSignedInvoice" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/sendSignedInvoiceResponse" message="tns:sendSignedInvoiceResponse" />
    </operation>
    <operation name="sendInvoiceWithoutId">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/sendInvoiceWithoutIdRequest" message="tns:sendInvoiceWithoutId" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/sendInvoiceWithoutIdResponse" message="tns:sendInvoiceWithoutIdResponse" />
    </operation>
    <operation name="sendInvoiceWithoutIdAndUuid">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/sendInvoiceWithoutIdAndUuidRequest" message="tns:sendInvoiceWithoutIdAndUuid" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/sendInvoiceWithoutIdAndUuidResponse" message="tns:sendInvoiceWithoutIdAndUuidResponse" />
    </operation>
    <operation name="sendAndApproveInvoice">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/sendAndApproveInvoiceRequest" message="tns:sendAndApproveInvoice" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/sendAndApproveInvoiceResponse" message="tns:sendAndApproveInvoiceResponse" />
    </operation>
    <operation name="sendZReport">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/sendZReportRequest" message="tns:sendZReport" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/sendZReportResponse" message="tns:sendZReportResponse" />
    </operation>
    <operation name="updateInvoice">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/updateInvoiceRequest" message="tns:updateInvoice" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/updateInvoiceResponse" message="tns:updateInvoiceResponse" />
    </operation>
    <operation name="cancelInvoice">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/cancelInvoiceRequest" message="tns:cancelInvoice" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/cancelInvoiceResponse" message="tns:cancelInvoiceResponse" />
    </operation>
    <operation name="objectInvoice">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/objectInvoiceRequest" message="tns:objectInvoice" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/objectInvoiceResponse" message="tns:objectInvoiceResponse" />
    </operation>
    <operation name="QueryInvoice">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/QueryInvoiceRequest" message="tns:QueryInvoice" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/QueryInvoiceResponse" message="tns:QueryInvoiceResponse" />
    </operation>
    <operation name="controlInvoiceXML">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/controlInvoiceXMLRequest" message="tns:controlInvoiceXML" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/controlInvoiceXMLResponse" message="tns:controlInvoiceXMLResponse" />
    </operation>
    <operation name="setEmailSent">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/setEmailSentRequest" message="tns:setEmailSent" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/setEmailSentResponse" message="tns:setEmailSentResponse" />
    </operation>
    <operation name="getCustomerCreditCount">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/getCustomerCreditCountRequest" message="tns:getCustomerCreditCount" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/getCustomerCreditCountResponse" message="tns:getCustomerCreditCountResponse" />
    </operation>
    <operation name="getCustomerCreditSpace">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/getCustomerCreditSpaceRequest" message="tns:getCustomerCreditSpace" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/getCustomerCreditSpaceResponse" message="tns:getCustomerCreditSpaceResponse" />
    </operation>
    <operation name="isEFaturaUser">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/isEFaturaUserRequest" message="tns:isEFaturaUser" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/isEFaturaUserResponse" message="tns:isEFaturaUserResponse" />
    </operation>
    <operation name="setDocumentFlag">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/setDocumentFlagRequest" message="tns:setDocumentFlag" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/setDocumentFlagResponse" message="tns:setDocumentFlagResponse" />
    </operation>
    <operation name="getCreditActionsforCustomer">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/getCreditActionsforCustomerRequest" message="tns:getCreditActionsforCustomer" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/getCreditActionsforCustomerResponse" message="tns:getCreditActionsforCustomerResponse" />
    </operation>
    <operation name="getPrefixList">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/getPrefixListRequest" message="tns:getPrefixList" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/getPrefixListResponse" message="tns:getPrefixListResponse" />
    </operation>
    <operation name="getNewUUID">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/getNewUUIDRequest" message="tns:getNewUUID" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/getNewUUIDResponse" message="tns:getNewUUIDResponse" />
    </operation>
    <operation name="GetXsltList">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/GetXsltListRequest" message="tns:GetXsltList" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/GetXsltListResponse" message="tns:GetXsltListResponse" />
    </operation>
    <operation name="GetEAInvoiceStatusWithLogs">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/GetEAInvoiceStatusWithLogsRequest" message="tns:GetEAInvoiceStatusWithLogs" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/GetEAInvoiceStatusWithLogsResponse" message="tns:GetEAInvoiceStatusWithLogsResponse" />
    </operation>
    <operation name="ResendNotification">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/ResendNotificationRequest" message="tns:ResendNotification" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/ResendNotificationResponse" message="tns:ResendNotificationResponse" />
    </operation>
    <operation name="UploadXslt">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/UploadXsltRequest" message="tns:UploadXslt" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/UploadXsltResponse" message="tns:UploadXsltResponse" />
    </operation>
    <operation name="GetDraftDocumentPreview">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/GetDraftDocumentPreviewRequest" message="tns:GetDraftDocumentPreview" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/GetDraftDocumentPreviewResponse" message="tns:GetDraftDocumentPreviewResponse" />
    </operation>
    <operation name="addPrefixList">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/addPrefixListRequest" message="tns:addPrefixList" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/addPrefixListResponse" message="tns:addPrefixListResponse" />
    </operation>
    <operation name="setPrefixStatusList">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/setPrefixStatusListRequest" message="tns:setPrefixStatusList" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/setPrefixStatusListResponse" message="tns:setPrefixStatusListResponse" />
    </operation>
    <operation name="SetDefaultXslt">
      <input wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/SetDefaultXsltRequest" message="tns:SetDefaultXslt" />
      <output wsam:Action="http://earchiveinvoiceservice.entegrator.com/EArchiveInvoiceWS/SetDefaultXsltResponse" message="tns:SetDefaultXsltResponse" />
    </operation>
  </portType>
  <binding name="EArchiveInvoiceWSPortBinding" type="tns:EArchiveInvoiceWS">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="sendInvoice">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="QueryArchivedInvoice">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="QueryInvoiceWithLocalId">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="QueryInvoiceWithReferenceCode">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="QueryInvoicesWithReceivedDate">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="QueryInvoicesWithReceivedDateWithSearchParams">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="QueryInvoicesWithDocumentDate">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="QueryInvoicesWithDocumentDateAndSearchParams">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="QueryArchivedInvoicesWithDocumentDate">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="QueryInvoicesWithGUIDList">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="GetLastInvoiceIdAndDate">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="sendSignedInvoice">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="sendInvoiceWithoutId">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="sendInvoiceWithoutIdAndUuid">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="sendAndApproveInvoice">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="sendZReport">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="updateInvoice">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="cancelInvoice">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="objectInvoice">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="QueryInvoice">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="controlInvoiceXML">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="setEmailSent">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="getCustomerCreditCount">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="getCustomerCreditSpace">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="isEFaturaUser">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="setDocumentFlag">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="getCreditActionsforCustomer">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="getPrefixList">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="getNewUUID">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="GetXsltList">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="GetEAInvoiceStatusWithLogs">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="ResendNotification">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="UploadXslt">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="GetDraftDocumentPreview">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="addPrefixList">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="setPrefixStatusList">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="SetDefaultXslt">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EArchiveInvoiceWS">
    <port name="EArchiveInvoiceWSPort" binding="tns:EArchiveInvoiceWSPortBinding">
      <soap12:address location="https://servis.kolayentegrasyon.net/EArchiveInvoiceService/EArchiveInvoiceWS" />
    </port>
  </service>
</definitions>